
ion-content {
    --background: rgb(22, 173, 180);  /* 61,159, 198*/
}

ion-row {
    align-items: center;
    text-align: center;
}

ion-item {
    font-size: 1.2em;
    border-bottom: 10px !important;
}

.logo-cliente {
    padding-top: 5px;
    padding-bottom: 50px;
    display:block;
    margin:auto;
    height: 365px;
}

.fila-ingreso {
    margin-top: 25px;
}

.login-box {
    background: rgb(23, 24, 24);
    padding: 10px 10px 20px 10px;
    margin-top: 10px;
    border-radius: 10px !important;
}

.logo-kinetik {
    padding-top: 5px;
    padding-bottom: 0px;
    height: 0px !important;
    display:block;
    margin:auto;
}

