<ion-header>
  <ion-toolbar>
    <ion-title>KReport Susaron v1.0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" padding>

  <ion-row class="logo-cliente">
      <ion-img src="assets/icon/vaquita.png"></ion-img>
  </ion-row>

  <ion-row class="fila-ingreso">
    <ion-col>
      <ion-list no-lines>
        
        <ion-item>
          <ion-icon slot='start' name='mail'></ion-icon>
          <ion-input type="text" placeholder="Email" [(ngModel)]="email" clearInput ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-icon slot='start' name='key'></ion-icon>
          <ion-input type="password" placeholder="Password" [(ngModel)]="pssw" clearInput></ion-input>
        </ion-item>
        
      </ion-list>
    </ion-col>
  </ion-row>
  
  <ion-button size='large' expand='block' (click)="doLogin()">Ingresar</ion-button>

  <ion-row class="logo-kinetik">
    <img src="assets/imgs/logo-kinetik.png">
  </ion-row>

</ion-content>

